#date{
	width:180px;
	height:70px;
	border-radius:5px;
	cursor:move;
	color: #000;
	font-size: 14px;
	font-family: 'Microsoft yahei',Verdana, Arial, Helvetica, sans-serif;
	position: relative;
	margin:10px auto;
}
#date.on{
	border-color:rgba(200,200,200,1);
}
#date.down{
	border-color:rgba(200,200,200,1);
}
#date.hide{
	border:1px dotted rgba(200,200,200,0);
	overflow:hidden;
	cursor:pointer;
}
#date .date_main{
	width:180px;
}
#date .date_main:after{
	content:'';
	display:block;
	clear:both;
	zoom:1;
}
#date .date_left{
	width:48px;
	height:68px;
	border:1px solid rgba(255,255,255,0.1);
	border-radius:5px;
	float:left;
}
#date .date_left .styleCircle{
	height:14px;
}
#date .date_left .styleCircle li{
	width:2px;
	height:2px;
	border:1px solid #E50020;
	border-radius:100%;
	float:left;
	margin:5px 4px;
}
#date .date_left .main{
	width:40px;
	height:43px;
	margin:5px auto 0;
	background:#E50020;
	text-align:center;
}
#date .date_left .main .month{
	font-size:12px;
	color:#cccccc;
	padding-top:5px;
	letter-spacing:2px;
}
#date .date_left .main .date{
	font-size:16px;
	font-weight:bold;
	font-family:'楷体';
	color:#fff;
	letter-spacing:2px;
}
#date .date_right{
	width:120px;
	height:70px;
	float:right;
	border: 1px solid rgba(255,255,255,0.1);
	border-radius: 5px;
}
#date .date_right p{
	font-size:14px;
	color:#eee;
	text-shadow:0 0 2px #fff;
	line-height:23px;
}
#date .date_close{
	width:21px;
	height:21px;
	position:absolute;
	top:-10px;
	right:-10px;
	cursor:pointer;
}
